{% extends "base.html" %}
{% block header %} Entries {% endblock %}
{% block body %}

    <div class="chat-panel panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-comments fa-fw"></i>
            Entries
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <ul class="dropdown-menu slidedown">
                    <li>
                        <a href="#">
                            <i class="fa fa-refresh fa-fw"></i> Refresh
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-check-circle fa-fw"></i> Available
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-times fa-fw"></i> Busy
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-clock-o fa-fw"></i> Away
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="chat">
                {% for entry in entries %}
                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar"
                                                 class="img-circle"/>
                                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">{{ entry.title }}</strong>
                            </div>
                            <p>
                                {{ entry.text|safe }}
                            </p>
                            {% else %}
                            <p><em>Unbelievable. No entries here so far</em></p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">

                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" name="title"
                               placeholder="title"/>

                    </div>

                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" name="text" placeholder="text"/>
                    </div>

                            <span class="input-group">
                                <button class="btn btn-warning btn-sm" id="btn-chat" type="submit">
                                    Send
                                </button>
                            </span>
                </form>
            {% endif %}

        </div>
        <!-- /.panel-footer -->
    </div>
{% endblock %}
